/* Font */
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

html {
    scroll-behavior: smooth ;
    /* Custom properties for theme */
    --header-color: #0d3b66;
    --header-text-color: #edf6f9;
    --header-subtext-color: #a9c1c9c7;

    --main-background-color: white;
    --main-text-color: black;
    --main-subtext-color: rgb(93, 93, 93);

    --accent-color: #f4d35e;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Mukta', sans-serif;
    font-weight: 300;

    margin: 0px;


    display: flex;
    justify-content: flex-end;
}

/* Header content */

header {
    height: 100vh;
    width: 40%;
    background-color: var(--header-color);
    color: var(--header-text-color);
    
    position: fixed;
    top:0;
    left: 0;

    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 100px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

header > h1 {
    font-size: 48px;
    font-weight: 600;
    margin: 0px;
    margin-left: -5px;

    padding-bottom: 15px;
}

header > h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
}

header > p {
    font-weight: 200;
    margin: 0px;

    color: var(--header-subtext-color);
}

/* Navbar */

nav {
    display: flex;
    flex-direction: column;

    justify-content: center;

    flex: 1;
}

nav > a {
    text-decoration: none;
    color: (--header-text-color);

    display: flex;
    align-items: center;

    width: 150px;

    margin: 5px;
}

nav > a:visited {
    color: inherit;
}

.nav-indicator {
    margin-left: 10px;
    margin-right: 10px;

    height: 0px;
    width: 30px;

    border-top: 1px solid var(--header-text-color);

    transition: width 0.5s;
}

nav > a:hover > .nav-indicator {
    width: 50px;
}

nav > a > p {
    text-transform: uppercase;
    margin: 0px;

    text-transform: uppercase;

    font-size: 18px;
    font-weight: 600;

}

/* Links styling */

ul {
    list-style-type: none;
    display: flex;

    justify-content: center;

    padding: 0px;
    margin-bottom: 50px;;
}

li > a {
    text-decoration: none;
    color: inherit;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 5px;
    padding-right: 5px;
}

.socials-icon {
    background-color: var(--header-subtext-color);
    background-position: center center;
    mask-repeat: no-repeat;

    width: 28px;
    height: 28px;

    margin: 5px;

    display: inline-block;
}

.socials-icon.github {
    -webkit-mask-image: url("../assets/icons/socials/github.svg");
    mask-image: url("../assets/icons/socials/github.svg");
}

.socials-icon.linkedin {
    -webkit-mask-image: url("../assets/icons/socials/linkedin.svg");
    mask-image: url("../assets/icons/socials/linkedin.svg");
}

.socials-icon.email {
    -webkit-mask-image: url("../assets/icons/socials/email.svg");
    mask-image: url("../assets/icons/socials/email.svg");

    width: 32px;
    height: 32px;
    margin: 3px;
}

li > a:hover > .socials-icon {
    background-color: var(--header-text-color);
}

/* Main content */

main {
    width: 60%;

    box-sizing: border-box;

    padding-left: 50px;
    padding-right: 50px;

    padding-bottom: 50px;
}

/* Page 1 - About section */

#about {
    padding-top: 25px;
    height: 80vh;
}

/* Theme toggle */
.toggle-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.theme {
    background-color: black;
    -webkit-mask-image: url("../assets/icons/local/sun.svg");
    mask-image: url("../assets/icons/local/sun.svg");
    mask-repeat: no-repeat;

    display: inline-block;
    width: 25px;
    height: 30px;
}

.theme.dark {
    background-color: white;
    -webkit-mask-image: url("../assets/icons/local/moon.svg");
    mask-image: url("../assets/icons/local/moon.svg");
}

.about-content {
    padding-top: 50px;
}

.about-content > h1 {
    font-size: 84px;
    font-weight: 100;

    margin: 0px;
}

.about-content > p {
    font-size: 20px;
}

/* Page 2 - Projects  */

#projects {
}

.project-content {
    padding-top: 50px;
}

.project-content > h1 {
    font-size: 32px;
    font-weight: 100;

    margin: 0px;
}

/* Project Cards */
.project {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    border-radius: 5px;

    margin-top: 25px;
}

.project-main {
    display: flex;
}

.project-aside {
    padding: 15px;
}

.project-img {
    /* Temp */
    background-color: black;
    
    margin-top: 15px;

    width: 120px;
    height: 120px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    border-radius: 5px;
}

.project-text{
    padding: 15px;

    position: relative;
}

.project-name  {
    display: flex;
    align-items: center;

    font-size: 32px;
    flex: 1;

    margin: 0px;
}

.project-live {
    font-size: 24px;

    position: absolute;
    top: 5px;
    right: 10px;
}

.project-desc {
    font-size: 16px;

    color: var(--main-subtext-color);

    margin: 0px;
}

.project-foot {
    display: flex;
}

.project-tools {
    margin: 10px;

    flex: 1;

    display: flex;
    justify-content: flex-start;
    align-content: center;


    gap: 10px;
}

.project-repo {
    margin-right: 15px;
}

/* Tool Icon Styling */
.tool {
    width: 20px;
    height: 20px;

    background-position: center center;
    background-size: contain;
}

.HTML {
    background-image: url("../assets/icons/tools/html.svg");
}

.CSS {
    background-image: url("../assets/icons/tools/css.svg");
}

.JS {
    background-image: url("../assets/icons/tools/js.svg");
}

.REACT {
    background-image: url("../assets/icons/tools/react.svg");
}

.NODEJS {
    background-image: url("../assets/icons/tools/nodejs.svg");
}

.NPM {
    background-image: url("../assets/icons/tools/npm.svg");
}

.footer {
    font-family: 'Urbanist', sans-serif;

    background-color: white;
    color: black;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
}

.github-logo {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-a img{
    opacity: 0.5;
    transition: all 300ms;
}

.github-a img:hover {
    opacity: 1;
    transform: rotate(360deg) scale(1.1);
}
